@page "/persons"
@using System.Net.Http.Headers
@using Gender = Common.Gender
@inject HttpClient Http
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


<h3>Persons</h3>

<button class="btn btn-primary" @onclick="ToggleAddForm">Add New Person</button>

@if (_isAdding)
{
    <div class="form-overlay">
        <div class="form-container">
            <h4>Add New Person</h4>
            <EditForm Model="_newPerson" OnValidSubmit="AddPerson">
                <DataAnnotationsValidator/>
                <ValidationSummary/>

                <div class="form-group">
                    <label>Full Name:</label>
                    <InputText @bind-Value="_newPerson.FullName" class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Gender:</label>
                    <InputSelect @bind-Value="_newPerson.Gender" class="form-control">
                        @foreach (var value in Enum.GetValues<Gender>())
                        {
                            <option value="@value">@value</option>
                        }
                    </InputSelect>
                </div>

                <div class="form-group">
                    <label>Passport Series:</label>
                    <InputText @bind-Value="_newPerson.PassportSeria"
                               class="text-uppercase form-control"
                               maxlength="2"
                               Placeholder="XX"
                               @oninput="(e) => _newPerson.PassportSeria = e.Value
                                   .ToString().ToUpper()"/>
                </div>

                <div class="form-group">
                    <label for="passportNumber">Passport Number:</label>
                    <InputText @bind-Value="_newPerson.PassportNumber"
                               id="passportNumber"
                               type="text"
                               class="form-control"
                               inputmode="numeric"
                               pattern="[0-9]{7}"
                               autocomplete="off"
                               maxlength="7"
                               onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                               placeholder="1234567"/>
                </div>

                <div class="form-group">
                    <label>Address:</label>
                    <InputText @bind-Value="_newPerson.Address" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="PhoneNumberInput">Phone Number:</label>
                    <InputText id="PhoneNumberInput"
                               @bind-Value="_newPerson.PhoneNumber"
                               class="form-control"
                               maxlength="18"
                               placeholder="+998(##)-###-##-##"
                               @oninput="HandleInputChange"/>
                </div>

                <div class="form-group">
                    <label>Upload Photo:</label>
                    <InputFile OnChange="HandlePhotoUpload"/>
                </div>

                <div class="form-buttons">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-secondary" @onclick="ToggleAddForm">Cancel</button>
                </div>
            </EditForm>
        </div>
    </div>
}

@if (_persons != null)
{
    <div class="table-container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var person in _persons)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@person.FullName</td>
                    <td>@person.PhoneNumber</td>
                    <MudTd>
                        <button class="btn btn-info">
                            <a href="@($"/personinfo/{person.Id}")" class="text-white text-decoration-none">View Details</a>
                        </button>
                        <button class="btn btn-danger" @onclick="() => DeletePerson(person.Id)">Delete</button>
                    </MudTd>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    private List<PersonDto>? _persons;
    private List<PetitionDto>? _petitions;
    private PersonDto _newPerson = new();
    private bool _isAdding = false;
    private PersonDto? _selectedPerson;
    private IBrowserFile? _uploadedPhoto;
    private string? _personPhoto;

    protected override async Task OnInitializedAsync()
    {
        await LoadPersons();
    }

    private async Task LoadPersons()
    {
        _persons = await Http.GetFromJsonAsync<List<PersonDto>>("/Persons");
    }

    public void HandleInputChange(ChangeEventArgs e)
    {
        var value = e.Value?.ToString();
        if (!string.IsNullOrEmpty(value))
        {
            // Remove all non-numeric characters
            value = new string(value.Where(char.IsDigit).ToArray());

            // Apply mask if value length is at least 10
            if (value.Length >= 1)
            {
                var formattedValue = $"+998({value.Substring(0, 2)}){value.Substring(2, 3)}-{value.Substring(5, 2)}-{value.Substring(7, 2)}";
                _newPerson.PhoneNumber = formattedValue;
            }
            else
            {
                _newPerson.PhoneNumber = value;
            }
        }
    }

    private async Task<List<PetitionDto>?> LoadPetitionsAsync(int personId)
    {
        return await Http.GetFromJsonAsync<List<PetitionDto>>($"/Petitions/GetPersonPetitions?personId={personId}");
    }

    private async Task<string?> GetPersonsPhotoAsync(int personId)
    {
        var imageBytes = await Http.GetByteArrayAsync($"/Photos/GetPersonPhoto?personId={personId}");
        var base64String = Convert.ToBase64String(imageBytes);
        return $"data:image/jpeg;base64,{base64String}";
    }

    private async Task DeletePerson(int id)
    {
        await Http.DeleteAsync($"Persons?id={id}");
        await LoadPersons();
    }

    private void ToggleAddForm()
    {
        _isAdding = !_isAdding;
    }

    private void NavigateToPersonInfo(int id)
    {
        NavigationManager.NavigateTo($"/personinfo/{id}");
    }


    private async Task AddPerson()
    {
        var personResponse = await Http.PostAsJsonAsync("/Persons", _newPerson);
        if (personResponse.IsSuccessStatusCode)
        {
            var person = await personResponse.Content.ReadFromJsonAsync<PersonDto>();
            //Thread.Sleep(1000);
            if (_uploadedPhoto != null)
            {
                await AddPhotoToPerson(person.Id, _uploadedPhoto);
            }

            await LoadPersons();
        }

        ToggleAddForm();
        _newPerson = new();
    }

    private void HandlePhotoUpload(InputFileChangeEventArgs e)
    {
        _uploadedPhoto = e.File;
    }

    private async Task AddPhotoToPerson(int personId, IBrowserFile? file)
    {
        if (file == null)
        {
            throw new ArgumentException("Invalid file.");
        }

        var content = new MultipartFormDataContent();
        var streamContent = new StreamContent(file.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024));
        streamContent.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);

        content.Add(streamContent, "file", file.Name);

        try
        {
            var response = await Http.PostAsync($"/Photos/AddPhotoToPerson{personId}", content);
            response.EnsureSuccessStatusCode();
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"Error uploading photo: {ex.Message}");
        }
    }


}
